@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#fafafa] text-[#1e1b4b] antialiased;
}

@keyframes loadingBar {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(-20%); }
  100% { transform: translateX(100%); }
}
